<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <!-- Reference the styles.css file -->
    <link rel="stylesheet" href="static/styles.css">
    <!-- Include the Socket.io library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <!-- Reference the app.js file -->
    <script src="static/app.js"></script>    
</head>

<body>
    
    
    <div id="chat-container">
        <div id="user-list"></div>

        <h2>Lobby</h2>
        <div id="chat-box"></div> <!-- This is where chat messages will be displayed -->
        <input id="message-input" type="text" placeholder="Type a message...">
        <button onclick="sendMessage()">Send</button>
    </div>
    

</body>
</html>
